body,
h1,
h2,
h3,
p{
	margin: 0;
}
.clear{
	clear: both;
}
.container{
	margin: auto;
	width: 90%;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 92.66%;}
.col-12{width: 100%;}

[class *= "col-"]{
	float: left;
}

/* Header */
#header{
	background-color: brown;
	height: 50px;
}
#header h1{
	color:#ffffff;
	text-align: center;
	line-height: 50px;
}
/* Navigation */
.topnav{
	background-color: #000000;
	height: 50px;
}
.topnav a{
	color: #ffffff;
	text-decoration: none;
	margin-right:20px;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.topnav a:hover{
	color: aqua;
}

/* Main Content */
.content{
	margin: 20px 0 20px 0;
}
.content img {
	width: 100%;
}
.content p{
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
}
.sidebar img{
	width: 100%;
	padding: 20px 0px 0px 20px;
}

/* Footer */
#footer{
	height: 40px;
	background-color: black;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
}

/* Media Queries */

/* Media Queries for Mobile Devices */
@media (max-width: 480px){
	#header h1{
		color:indigo;
	}

	.content{
		width: 100%;
	}
	.sidebar{
		width: 100%;
	}

}

/* Media Queries for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px){
	#header h1{
		color:green;
	}
	.content{
		width: 100%;
	}
	.sidebar{
		width: 100%;
	}
}
/* Media Queries for Tablets Ipads portraits mode */
@media (min-width: 768px) and (max-width: 1024px){
	#header h1{
		color:aqua;
	}
}
/* Media Queries for Laptop and Desktop */
@media (min-width: 1025px) and (max-width: 1280px){
	#header h1{
		color:blue;
	}
}
/* Media Queries for Large Screens */
@media (min-with: 1281px){
	#header h1{
		color: #ffffff;
	}
}